<footer>
    <div class="f-info">
        <div class="f-infi-socials">
            <i class="fa-brands fa-square-instagram"></i>
             <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>

    </div>
         <div class="f-info-brand"> &copy; wanderLust private Limited</div>
    
        <div class="f-info-link"> 
            <a href="/privacy">Privacy</a>
            <a href="/terms">Term</a>
        </div>
        </div>
</footer>